html, body, #root {
    height: 100%;
    overflow: auto;
}

.form-container {
    width: 15rem;
}

.form-level-errors {
    width: 100%;
    margin-top: .25rem;
    color: #d33682;
}

video {
    transform: scaleX(-1);
}

.videos-container {
    height: 100%;
    width: 90%;
    padding: 0;
    margin: 0.75rem auto;
    position: relative;
}

.max-screen, .min-screen {
    background-color: #222;
}

.max-screen {
    width: 100%;
    height: 100%;
    z-index: -1;
}

.min-screen {
    width: 10rem;
    height: 7rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon-wrapper {
    padding: 0.5rem 0.85rem 0.75rem 0.85rem;
    border-radius: 50%;
}

.hang-up {
    transform: rotateZ(135deg);
}